.container
{
    border: solid;
    display: flex;
    background-color: black;
}
.topic
{
    width:25%;
    display: flex;
    color: #fff;
}
.topic img
{
    width: 50px;
    height: 50px;
    padding: 10px;
}
.topic h2{
    display: flex;

}
.nav-bars
{
    display: inline;
    width: 45%;
    padding: 25px;
}
.nav-bars a:hover{
    background-color:antiquewhite;
    color: black;
}
.nav-bars a
{
    padding: 10px;
    color: #fff;
    font-size: larger;
}
.btn
{
    padding: 20px 20px 20px 0px;
}
.btn input{
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    background-color: black;
    color: #fff;
}
.btn input:hover
{
    background-color: antiquewhite;
    color: black;
}
.container-2
{
    border: solid;
    display: flex;
    height: 50vh;
    background-color: black;
}
.right-content
{
    width: 53%;
    color: #fff;
}
.right-content .line-1
{
   font-size: 45px;
   text-align: left;
}
.right-content .line-1 span{
    font-weight: 600;
}
.right-content .line-1 a{
    background-color: blanchedalmond;
    color: black;
}
.right-content .line-2
{
    font-size: larger;
}
.right-content p
{
    padding: 0px 0px 0px 150px;
}
.right-content .main-btn
{
    padding:0px 0px 0px 150px ;
    display: flex;
}
.right-content .main-btn input
{
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    background-color: black;
    color: #fff;
    
}
.right-content .main-btn input:hover
{
    background-color: burlywood;
    color: black;
}
.right-content .plant
{
    z-index: 1;
}
.right-content .plant img
{
    width: 30px;
    height: 30px;
    border-radius: 20px;
    color: black;
    display:inline-flex;
}
.right-content .right-down
{
    display: flex;
}
.container-2 .left-content
{
    width: 450px;
    padding: 30px;
}
.container-2 .left-content img
{
   width: 80%;
   display: flex;
   height: 100%; 
}
.container-3
{
   display: flex;
   border: solid black;
   padding: 50px 0px 0px 150px;
   background-color: black;
}
.container-3 .box-1
{
   width: 25%;
   border: 2px solid white;
   background-color: #dff0b1;
   border-radius: 10px;
   color: black;
   display: inline-flex;
   align-items: center;

}
.container-3 .box-1 span
{
   font-weight: 800;
}
.container-3 .box-1 img
{
    width: 30px;
    height: 30px;
    clip-path: circle();
    display: flex;
}
.container-3 .box-2
{
   width: 25%;
   border: 2px solid white;
   background-color:#e8e6a5;
   border-radius: 10px;
   color: black;
   display: inline-flex;
   align-items: center;
}
.container-3 .box-2 span
{
   font-weight: 800;
}
.container-3 .box-2 img
{
    width: 30px;
    height: 30px;
    clip-path: circle();
    display: flex;
}
.container-3 .box-3
{
   width: 25%;
   border: 2px solid white;
   background-color: azure;
   border-radius: 10px;
   color: black;
   display: inline-flex;
   align-items: center;
}
.container-3 .box-3 span
{
   font-weight: 800;
}
.container-3 .box-3 img
{
    width: 30px;
    height: 30px;
    clip-path: circle();
    display: flex;
}
.container-3 .box-1 span{
    clip-path: ellipse();
}
.container-4
{
    padding: 40px;
    position: relative;
    display: flex;

}
.container-4 .timing
{
   border: 15px;
   width: 15%;
   border-radius: 40px;
   text-align: center;
   background-color: black;
   color: #fff;
   padding: 20px;
   
}
.container-4 .timing span
{
    background-color: #fff;
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.container-4 .content 
{
    border: 30px;
    width:50%;
    /* background-color: #e8e6a5; */
}
.container-4 .content h2
{
    text-align: center;
    justify-content: center;
    font-weight: 600;
}
.button
{
   width: 20%;
   padding: 20px;   
   display: flex;
   
}
.container-4 .button .btn-1
{
   width:60px;
}
.container-4 .button .btn-2
{
   width: 40px;
   
}
.container-4 .button .btn-3
{
   width: 60px;
}
.container-4 .button input
{
    padding: 10px;
    border-radius: 30px;
    background-color: #e8e6a5;
    border: solid black;
    color: black;

   
}
.container-4 .contact-team
{
    padding: 10px;
    width: 10%;
}
.container-4 .contact-team input
{
    padding:20px;
    border-radius: 30px;
    border: solid black;
}
.container-4 .images 
{
    display: flex;
    padding: 20px;
    
}
.container-4 .images img
{
    width: 40px;
    height: 40px;
    clip-path: circle();
   
}






